@font-face {
  font-family: 'SUIT';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SUIT-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SUIT-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SUIT-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SUIT-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SUIT-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SUIT-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SUIT-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SUIT-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/SUIT-Heavy.woff2') format('woff2');
}
